/* Header nav CSS */
header{
  display: flex;
  justify-content: center;
    z-index: 999;
    position: sticky;
    top:0;
    background:#FFF;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
nav{
  width: 90%;
    .container-fluid{
        width: 100%;
        height: 80px;
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        align-items:center;
        font-size: 1.8rem;
        .navbar-header{
            .logo-planthero{
                width: 126px;
                height: 55px;
                background:url('../images/logo.png');
                background-size: cover;
                margin-right:30px;
        }
    }
    ul.nav.navbar-nav{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        li, li a{
            margin:0 20px;
            cursor: pointer;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            &:hover{
                color:#8ACDAC;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                    }
                }
            }
        }
    }
}
.container-fluid{
  padding: 0;
}
.col-lg-12{
  padding: 0;
}
/* ------------------- */
