/* Our story Page CSS */

@keyframes textPopIn {
    from {
        display: none;
        opacity: 0;
        transform: translateY(30%);
    }

    to {
        display: inline-block;
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes textPopOut {
    from {
        display: none;
        opacity: 1;
        transform: translateY(0%);
    }

    to {
        display: inline-block;
        opacity: 0;
        transform: translateY(-30%);
    }
}

main.story-container {
  display: flex;
  justify-content: center;
  .story-slideshow{
    display: flex;
    flex-direction: column;
    margin-top: calc(50vh - 200px);
    .pic-text-story{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 100px;
      .text-story-container{
        .text-story{
          opacity: 0;
          transform: translateY(50px);
          transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
          &.is-active{
            opacity: 1;
            position: fixed;
            width: 500px;
            top: 50vh;
            transform: translateY(0);
            transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
          }
          span{
            font-size: 5rem;
          }
          p{
            font-size: 1.6rem;
          }
        }

      }
      .pic-story{
        img{

        }
      }
    }
  }
}
