<<<<<<< HEAD
header{z-index:999;position:sticky;top:0;background:#FFF;margin-bottom:20px;font-family:'Open Sans', sans-serif;font-size:2rem;font-weight:600}header nav .container-fluid{width:100%;height:80px;display:flex;flex-direction:row;justify-content:flex-start;align-items:center;font-size:1.8rem}header nav .container-fluid .navbar-header .logo-planthero{width:126px;height:55px;background:url("../images/logo.png");background-size:cover;margin-right:30px}header nav .container-fluid ul.nav.navbar-nav{display:flex;flex-direction:row;justify-content:space-around}header nav .container-fluid ul.nav.navbar-nav li,header nav .container-fluid ul.nav.navbar-nav li a{margin:0 20px;cursor:pointer;transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)}header nav .container-fluid ul.nav.navbar-nav li:hover,header nav .container-fluid ul.nav.navbar-nav li a:hover{color:#8ACDAC;transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)}footer{z-index:999;background:#FFF;font-family:'Open Sans', sans-serif;font-size:2rem;font-weight:600;padding:80px}footer .footer-content{display:flex;flex-direction:row;align-content:space-between;justify-content:space-around}footer .footer-content .footer-nav h3{font-family:'Open Sans', sans-serif;font-size:2rem;font-weight:600;margin-bottom:20px}footer .footer-content .footer-nav ul{list-style:none;padding:0}footer .footer-content .footer-nav ul li a{display:flex;flex-direction:row;align-items:center;text-decoration:none;color:#000;font-size:1.8rem;font-weight:400;transition:all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1)}footer .footer-content .footer-nav ul li a::before{display:inline-block;content:'';width:00%;height:1px;background:#000;left:0;top:50%;transition:all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1)}footer .footer-content .footer-nav ul li a:hover{transition:all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1)}footer .footer-content .footer-nav ul li a:hover::before{width:10%;margin-right:5px}footer .footer-content .newsletter h3{font-family:'Open Sans', sans-serif;font-size:2rem;font-weight:600;margin-bottom:15px}footer .footer-content .newsletter input{font-size:1.8rem;font-weight:400;background:transparent;border:none;border-bottom:1px solid black;transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)}footer .footer-content .newsletter input:focus{border-color:#23A06A;transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)}footer .footer-content .socials{display:flex;flex-direction:column;justify-content:space-between;align-items:flex-end}footer .footer-content .socials .logo-planthero{width:126px;height:55px;background:url("../images/logo.png");background-size:cover}footer .footer-content .socials .social-networks{display:flex;flex-direction:row;justify-content:space-around;width:126px}footer .footer-content .socials .social-networks a img{width:35px;opacity:0.71;transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)}footer .footer-content .socials .social-networks a img:hover{opacity:1;transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)}@font-face{font-family:"Pencilpete";font-weight:normal;src:url("pencilpete.ttf")}html,body{margin:0;font-size:62.5%}.main-container{width:90%;margin:auto}a{color:inherit}a:active{text-decoration:none}a:hover{text-decoration:none}a:focus{text-decoration:none}span.kickstarter-button{width:200px;height:40px;position:relative;background:#8ACDAC;color:#FFF;margin-left:auto;display:flex;justify-content:center;align-items:center;cursor:pointer}span.kickstarter-button::before{content:'';position:absolute;height:100%;left:0;top:0;width:0;background:#41A269;transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)}span.kickstarter-button::after{content:'Kickstarter';left:50%;top:50%;z-index:2}span.kickstarter-button:hover::before{width:100%;transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)}.button-work{display:flex;justify-content:center;align-items:center;width:130px;height:60px;background:url("../images/icons/button.PNG");background-size:contain;background-repeat:no-repeat;cursor:pointer}.button-work:hover{background:url("../images/icons/button-is-active.PNG");background-size:contain;background-repeat:no-repeat;transform:translate(3.8%, -10%)}.button-work span.button{font-family:'pencilpete';font-size:2rem;transform:translate(-4px, 7px)}.hello-gif{width:92px;height:190px;position:relative;z-index:1000;transition:all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);background:url("../images/happy-hello.gif");background-size:cover;position:fixed;right:0}.home-container .concept{display:flex;flex-direction:row;align-content:center;min-height:470px;margin:100px 0 150px 0}.home-container .concept .concept-text{display:flex;flex-direction:column;justify-content:center;z-index:2;transition:all 2s cubic-bezier(0.25, 0.8, 0.25, 1)}.home-container .concept .concept-text h2{display:inline-block;font-family:'Open Sans', sans-serif;font-size:5.5rem;font-weight:700;position:relative;z-index:1}.home-container .concept .concept-text h2::before{content:'';width:calc(5rem*11.1);height:28%;background:#98CBAE;position:absolute;top:5rem;z-index:-1}.home-container .concept .concept-text span.concept-motto{display:inline-block;font-family:'Open Sans', sans-serif;font-weight:400;font-size:3rem;color:#A5A5A5;position:relative;margin-bottom:7rem}.home-container .concept .concept-text span.concept-motto::after{content:'';width:2px;height:50px;background:#A5A5A5;position:absolute;top:100%;left:0}.home-container .concept .concept-text p{width:535px;font-family:'Open Sans', sans-serif;font-size:2rem;font-weight:400;line-height:3rem;letter-spacing:0.8px;color:#505052;position:relative;margin-bottom:50px}.home-container .concept .concept-animation{background:url("../images/happy-again.gif") 100% 100%;background-size:contain;background-repeat:no-repeat;transition:all 2s cubic-bezier(0.25, 0.8, 0.25, 1)}.home-container .facts{display:flex;flex-direction:column;align-items:center}.home-container .facts h2{display:inline-block;font-family:'Open Sans', sans-serif;font-size:5.5rem;font-weight:700;position:relative;margin-bottom:80px;z-index:1}.home-container .facts h2::before{content:'';width:calc(5rem*9.1);height:28%;background:#98CBAE;position:absolute;top:5rem;z-index:-1}.home-container .facts .slider{overflow-x:hidden;cursor:grab;margin-bottom:50px}.home-container .facts .slider ul.slideshow{display:flex;flex-direction:row;align-content:space-around;list-style:none;transition:all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);padding:0}.home-container .facts .slider ul.slideshow .owl-item{display:flex;justify-content:center}.home-container .facts .slider ul.slideshow li.slide{display:flex;flex-direction:column;align-items:center;width:370px;transition:all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);box-shadow:0 5px 20px rgba(0,0,0,0.1),0 6px 6px rgba(0,0,0,0.05);margin:20px 0}.home-container .facts .slider ul.slideshow li.slide img.slide-illustration{width:100%}.home-container .facts .slider ul.slideshow li.slide img.icon{width:50px;height:50px;margin:20px 0}.home-container .facts .slider ul.slideshow li.slide h3{font-family:'Open Sans', sans-serif;font-size:2rem;font-weight:600;margin-bottom:30px;position:relative;transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)}.home-container .facts .slider ul.slideshow li.slide h3::after{content:'';width:1px;height:20px;background:#000;position:absolute;top:3rem;left:50%;margin-bottom:20px;transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)}.home-container .facts .slider ul.slideshow li.slide:hover h3{margin-bottom:40px;transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);color:#23A06A}.home-container .facts .slider ul.slideshow li.slide:hover h3::after{background:#23A06A;height:30px;transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)}.home-container .facts .slider ul.slideshow li.slide p.slide-description{padding:0 10%;text-align:center;white-space:pre-line;font-family:'Open Sans', sans-serif;font-size:1.8rem;font-weight:400;margin-bottom:20px}.product-view{display:flex;flex-direction:column;align-content:center;align-items:center}.product-view h2{display:inline-block;font-family:'Open Sans', sans-serif;font-size:5.5rem;font-weight:700;position:relative;margin-bottom:80px;z-index:1}.product-view h2::before{content:'';width:calc(5rem*8);height:28%;background:#98CBAE;position:absolute;top:5rem;z-index:-1}.product-view .element{display:flex;flex-direction:row}.product-view .element .image-element{display:flex;justify-content:center;align-items:center;background:#EAE2D8}.product-view .element .image-element img{width:70%;transform:scale(1);transition:all 5s cubic-bezier(0.25, 0.8, 0.25, 1)}.product-view .element .text-element{display:flex;flex-direction:column;justify-content:center;align-items:center}.product-view .element .text-element h4{font-family:'Open Sans', sans-serif;font-size:5rem;font-weight:600;margin-bottom:20px}.product-view .element .text-element p{font-family:'Open Sans', sans-serif;font-size:2.5rem;font-weight:400;text-align:center;width:70%}.product-view .element:hover .image-element img{transform:scale(1.2);transition:all 5s cubic-bezier(0.25, 0.8, 0.25, 1)}.story{display:flex;flex-direction:column;align-items:center;padding:50px 0}.story h2{display:inline-block;font-family:'Open Sans', sans-serif;font-size:5.5rem;font-weight:700;position:relative;margin-bottom:80px;z-index:1}.story h2::before{content:'';width:calc(5rem*5.4);height:28%;background:#98CBAE;position:absolute;top:5rem;z-index:-1}.story iframe{width:1024px;height:526px;margin-bottom:50px}.story .button-work{margin-bottom:80px}.contribute{display:flex;flex-direction:column;align-items:center;background:url("../images/background-kickstarter.jpg") no-repeat center center fixed;padding:100px 0}.contribute h2{font-family:'Open Sans', sans-serif;font-size:5.5rem;font-weight:700;color:#414141;position:relative;margin-bottom:10px}.contribute span{font-family:'Open Sans', sans-serif;font-size:2rem;font-weight:400;color:#414141;margin-bottom:50px}.contribute span.kickstarter-button{color:#FFF;background:#8ACDAC;margin:0}.contribute span.kickstarter-button::before{background:#41A269}@keyframes textPopIn{from{display:none;opacity:0;transform:translateY(30%)}to{display:inline-block;opacity:1;transform:translateY(0%)}}@keyframes textPopOut{from{display:none;opacity:1;transform:translateY(0%)}to{display:inline-block;opacity:0;transform:translateY(-30%)}}main.story-container{display:flex;justify-content:center}main.story-container .story-slideshow{display:flex;flex-direction:column;margin-top:calc(50vh - 200px)}main.story-container .story-slideshow .pic-text-story{display:flex;flex-direction:row;justify-content:space-between;align-items:center;margin-bottom:100px}main.story-container .story-slideshow .pic-text-story .text-story-container .text-story{opacity:0;transform:translateY(50px);display:none;transition:all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1)}main.story-container .story-slideshow .pic-text-story .text-story-container .text-story.is-active{opacity:1;position:fixed;width:500px;top:50vh;transform:translateY(0);transition:all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1)}main.story-container .story-slideshow .pic-text-story .text-story-container .text-story span{font-size:5rem}main.story-container .story-slideshow .pic-text-story .text-story-container .text-story p{font-size:1.6rem}#howitswork section{height:calc(70vh - 100px);display:flex;align-items:center;flex-direction:row}@media screen and (max-width: 1280px){#howitswork section{height:100vh;flex-direction:column}}#howitswork .bg{display:flex;align-content:center}#howitswork h2{font-size:4rem;margin:3% 0% 3% 0%;font-family:"Pencilpete"}#howitswork h3{font-size:2.2rem;color:#A5A5A5;letter-spacing:1.5px}#howitswork p{font-size:1.5rem;margin-top:5%;letter-spacing:0.8px;line-height:25px;width:85%}#howitswork img{width:100%}
=======
/* Header nav CSS */
header {
  z-index: 999;
  position: sticky;
  top: 0;
  background: #FFF;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600; }
  header nav .container-fluid {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.8rem; }
    header nav .container-fluid .navbar-header .logo-planthero {
      width: 126px;
      height: 55px;
      background: url("../images/logo.png");
      background-size: cover;
      margin-right: 30px; }
    header nav .container-fluid ul.nav.navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      header nav .container-fluid ul.nav.navbar-nav li {
        margin: 0 20px;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
        header nav .container-fluid ul.nav.navbar-nav li:hover {
          color: #8ACDAC;
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* ------------------- */
/* Footer nav CSS */
footer {
  z-index: 999;
  background: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 80px; }
  footer .footer-content {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around; }
    footer .footer-content .footer-nav h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 20px; }
    footer .footer-content .footer-nav ul {
      list-style: none;
      padding: 0; }
      footer .footer-content .footer-nav ul li a {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: #000;
        font-size: 1.8rem;
        font-weight: 400;
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }
        footer .footer-content .footer-nav ul li a::before {
          display: inline-block;
          content: '';
          width: 00%;
          height: 1px;
          background: #000;
          left: 0;
          top: 50%;
          transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }
        footer .footer-content .footer-nav ul li a:hover {
          transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }
          footer .footer-content .footer-nav ul li a:hover::before {
            width: 10%;
            margin-right: 5px; }
    footer .footer-content .newsletter h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 15px; }
    footer .footer-content .newsletter input {
      font-size: 1.8rem;
      font-weight: 400;
      background: transparent;
      border: none;
      border-bottom: 1px solid black;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      footer .footer-content .newsletter input:focus {
        border-color: #23A06A;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    footer .footer-content .socials {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end; }
      footer .footer-content .socials .logo-planthero {
        width: 126px;
        height: 55px;
        background: url("../images/logo.png");
        background-size: cover; }
      footer .footer-content .socials .social-networks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 126px; }
        footer .footer-content .socials .social-networks a img {
          width: 35px;
          opacity: 0.71;
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
          footer .footer-content .socials .social-networks a img:hover {
            opacity: 1;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* ------------------- */
/* HTML Page init */
@font-face {
  font-family: "Pencilpete";
  font-weight: normal;
  src: url("pencilpete.ttf"); }
html,
body {
  margin: 0;
  font-size: 62.5%; }

.main-container {
  width: 90%;
  margin: auto; }

a {
  color: inherit; }
  a:active {
    text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a:focus {
    text-decoration: none; }

/* ------------------- */
/* Basics elements init */
span.kickstarter-button {
  width: 200px;
  height: 40px;
  position: relative;
  background: #8ACDAC;
  color: #FFF;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  span.kickstarter-button::before {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
    background: #41A269;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  span.kickstarter-button::after {
    content: 'Kickstarter';
    left: 50%;
    top: 50%;
    z-index: 2; }
  span.kickstarter-button:hover::before {
    width: 100%;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.button-work {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 60px;
  background: url("../images/icons/button.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer; }
  .button-work:hover {
    background: url("../images/icons/button-is-active.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(3.8%, -10%); }
  .button-work span.button {
    font-family: 'pencilpete';
    font-size: 2rem;
    transform: translate(-4px, 7px); }

.hello-gif {
  width: 92px;
  height: 190px;
  position: relative;
  z-index: 1000;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: url("../images/happy-hello.gif");
  background-size: cover;
  position: fixed;
  right: 0; }

/* ------------------- */
/* Home Page CSS */
.home-container {
  /* ------ Concept section ------ */
  /* ------ */
  /* ------ Facts section ------ */ }
  .home-container .concept {
    display: flex;
    flex-direction: row;
    align-content: center;
    min-height: 470px;
    margin: 100px 0 150px 0; }
    .home-container .concept .concept-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 2;
      transition: all 2s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .home-container .concept .concept-text h2 {
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 5.5rem;
        font-weight: 700;
        position: relative;
        z-index: 1; }
        .home-container .concept .concept-text h2::before {
          content: '';
          width: calc(5rem*11.1);
          height: 28%;
          background: #98CBAE;
          position: absolute;
          top: 5rem;
          z-index: -1; }
      .home-container .concept .concept-text span.concept-motto {
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 3rem;
        color: #A5A5A5;
        position: relative;
        margin-bottom: 7rem; }
        .home-container .concept .concept-text span.concept-motto::after {
          content: '';
          width: 2px;
          height: 50px;
          background: #A5A5A5;
          position: absolute;
          top: 100%;
          left: 0; }
      .home-container .concept .concept-text p {
        width: 535px;
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
        font-weight: 400;
        line-height: 3rem;
        letter-spacing: 0.8px;
        color: #505052;
        position: relative;
        margin-bottom: 50px; }
    .home-container .concept .concept-animation {
      background: url("../images/happy-again.gif") 100% 100%;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all 2s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .home-container .facts {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .home-container .facts h2 {
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size: 5.5rem;
      font-weight: 700;
      position: relative;
      margin-bottom: 50px;
      z-index: 1; }
      .home-container .facts h2::before {
        content: '';
        width: calc(5rem*9.1);
        height: 28%;
        background: #98CBAE;
        position: absolute;
        top: 5rem;
        z-index: -1; }
    .home-container .facts .slider {
      overflow-x: hidden;
      cursor: grab; }
      .home-container .facts .slider ul.slideshow {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        list-style: none;
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        padding: 0; }
        .home-container .facts .slider ul.slideshow .owl-item {
          display: flex;
          justify-content: center; }
        .home-container .facts .slider ul.slideshow li.slide {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 370px;
          border-radius: 15px;
          transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
          margin: 20px 0; }
          .home-container .facts .slider ul.slideshow li.slide img.slide-illustration {
            width: 100%;
            border-radius: 15px 15px 0px 0px; }
          .home-container .facts .slider ul.slideshow li.slide img.icon {
            width: 50px;
            height: 50px;
            margin: 20px 0; }
          .home-container .facts .slider ul.slideshow li.slide h3 {
            font-family: 'Open Sans', sans-serif;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 30px;
            position: relative;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
            .home-container .facts .slider ul.slideshow li.slide h3::after {
              content: '';
              width: 1px;
              height: 20px;
              background: #000;
              position: absolute;
              top: 3rem;
              left: 50%;
              margin-bottom: 20px;
              transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
          .home-container .facts .slider ul.slideshow li.slide:hover h3 {
            margin-bottom: 40px;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            color: #23A06A; }
            .home-container .facts .slider ul.slideshow li.slide:hover h3::after {
              background: #23A06A;
              height: 30px;
              transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
          .home-container .facts .slider ul.slideshow li.slide p.slide-description {
            padding: 0 10%;
            text-align: center;
            white-space: pre-line;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 20px; }

/* ------ */
/* ------ Story section ------ */
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0; }
  .story h2 {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 5.5rem;
    font-weight: 700;
    position: relative;
    margin-bottom: 80px;
    z-index: 1; }
    .story h2::before {
      content: '';
      width: calc(5rem*5.4);
      height: 28%;
      background: #98CBAE;
      position: absolute;
      top: 5rem;
      z-index: -1; }
  .story iframe {
    width: 1024px;
    height: 526px;
    margin-bottom: 50px; }
  .story .button-work {
    margin-bottom: 80px; }

/* ------ */
/* ------ Contribute section ------ */
.contribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../images/background-kickstarter.jpg") no-repeat center center fixed;
  padding: 100px 0; }
  .contribute h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 5.5rem;
    font-weight: 700;
    color: #414141;
    position: relative;
    margin-bottom: 10px; }
  .contribute span {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #414141;
    margin-bottom: 50px; }
  .contribute span.kickstarter-button {
    color: #FFF;
    background: #8ACDAC;
    margin: 0; }
    .contribute span.kickstarter-button::before {
      background: #41A269; }

/* ------ */
/* Our story Page CSS */
@keyframes textPopIn {
  from {
    display: none;
    opacity: 0;
    transform: translateY(30%); }
  to {
    display: inline-block;
    opacity: 1;
    transform: translateY(0%); } }
@keyframes textPopOut {
  from {
    display: none;
    opacity: 1;
    transform: translateY(0%); }
  to {
    display: inline-block;
    opacity: 0;
    transform: translateY(-30%); } }
main.story-container {
  display: flex;
  justify-content: center; }
  main.story-container .story-slideshow {
    display: flex;
    flex-direction: column;
    margin-top: calc(50vh - 200px); }
    main.story-container .story-slideshow .pic-text-story {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 100px; }
      main.story-container .story-slideshow .pic-text-story .text-story-container .text-story {
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }
        main.story-container .story-slideshow .pic-text-story .text-story-container .text-story.is-active {
          opacity: 1;
          position: fixed;
          width: 500px;
          top: 50vh;
          transform: translateY(0);
          transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }
        main.story-container .story-slideshow .pic-text-story .text-story-container .text-story span {
          font-size: 5rem; }
        main.story-container .story-slideshow .pic-text-story .text-story-container .text-story p {
          font-size: 1.6rem; }

#howitswork section {
  height: calc(70vh - 100px); }
  @media screen and (max-width: 1280px) {
    #howitswork section {
      height: 100vh; } }
#howitswork .bg {
  background-image: url(../../../images/howitworks/automaticwatering.gif);
  background-size: cover;
  background-position: center; }
#howitswork h2 {
  font-size: 4rem;
  margin: 3% 0% 3% 0%;
  font-family: "Pencilpete"; }
#howitswork h3 {
  font-size: 2.2rem;
  color: #A5A5A5;
  letter-spacing: 1.5px; }
#howitswork p {
  font-size: 1.5rem;
  margin-top: 5%;
  letter-spacing: 0.8px;
  line-height: 25px;
  width: 85%; }
#howitswork img {
  width: 100%; }

>>>>>>> 859109f52d1b06df8c5771ed5b4c614c4be834ec
/*# sourceMappingURL=style.css.map */
